{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<style>
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    background-image: url('Images/loginBox.png');
    width:546px;
    height:265px;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
}

</style>
<link rel="stylesheet" type="text/css" href="{% static 'loginpage.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
<div class="center">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock %}