{% extends 'base.html' %}
{% block extrahead %}
<style>
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    background-image: url('Images/loginBox.png');
    width:546px;
    height:265px;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
}

</style>
<link rel="stylesheet" type="text/css" href="{% static 'loginpage.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
<div class="center">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
  </p>
</div>
{% endblock %}